.checkout {
  padding: 60px 80px;
}

.checkout__container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

/* Form */
.checkout__form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.checkout__form input {
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.checkout__btn {
  margin-top: 10px;
  padding: 14px;
  background: #e07b3a;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

/* Summary */
.checkout__summary {
  background: #f8f6ed;
  padding: 25px;
  border-radius: 16px;
}

.checkout__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkout__total {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 18px;
}