*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Body text (default for entire app) */
body {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  padding: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Averia Serif Libre', serif;
}